.footer{
    height: 200px;

    background: linear-gradient(to right, #4b79a1, #283e51); 


  }

  .list-inline {
    display: flex;
    align-items: center;
    list-style: none;
    padding: auto; 
    margin-left: auto;
    margin-right: auto;
  
  }
  .list-inline > li {
    display: inline-block;
    margin: 20px 40px;

  }

  .list-inline > li > a{
color: white;
font-size: 50px; 
 }

 .footer p{
    color: white;
    font-size: 16px;
    margin-top: 40px;
     }
     
